<h1>Appointment</h1>

<p>Owner: <%= @appointment.owner %></p>
<p>Patient: <%= @appointment.patient %></p>

<h2>Treatments</h2>
<% form_tag appointment_path(@appointment), :method => :put do -%>
  <%= collection_select(:charge_description, :id, ChargeDescription.all, :id, :treatment )%>
  <%= submit_tag 'Add' %>
<% end -%>
<table>
  <tr><th>Treatment</th><th>Cost</th></tr>
  <%= render :partial => "charge", :collection => @appointment.charges %>
</table>

<h2>Payments</h2>
<table>
  <tr><th>Amount</th></tr>
  <%= render :partial => "payment", :collection => @appointment.payments %>
</table>

<h2>Total Due: <%= number_to_currency(@appointment.total_due) %></h2>
<hr/>
<%= link_to "Appointments", appointments_path %>